upstream flask_{{ project_name }} {

    server                  127.0.0.1:{{ gunicorn_port }};
    # for UNIX domain socket setups
    #server unix:/tmp/gunicorn.sock fail_timeout=0;
}

server {

    client_max_body_size 100M;

    listen                  80;

    charset                 utf-8;
    server_tokens           off;

    access_log              /var/log/nginx.access.log;
    error_log               /var/log/nginx.error.log;

    expires modified        -1d;

    rewrite                 ^/(.*)/favicon.ico$ /favicon.ico last;

    location /static/sass/ {
        deny                all;
        return              404;
    }
    location /static/(*.rb|*) {
        deny                all;
        return              404;
    }
    
    
    keepalive_timeout 5;

    location / {
      # checks for static file, if not found proxy to app
      try_files $uri @proxy_to_app;
    }
    
    location @proxy_to_app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        # we don't want nginx trying to do something clever with
        # redirects, we set the Host: header above already.
        proxy_redirect off;
        proxy_pass http://flask_{{ project_name }};
    }
}

